.App {
  text-align: center;
  width:98%;
  height:98%;
  margin:2%;
}
.navbar {
  text-align: center;
  background-color: #8b0f7b;
  max-width: 100%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}
.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 25px;
}
h1 {
  color:rgb(10, 13, 172);
  margin-left: 0px 20px;
}
.link {
  color:gold;
  text-align: center;
  margin-right: 20px;
}
.link:hover {
  color: blue;
}
.hearderStyle {
  background-color: rgb(16, 199, 175);
}
.homeStyle {
 overflow-y:scroll ;
}
.homeStyle {
  background-color: blueviolet;
  height:80%;
  margin:1%;
  overflow-y: scroll;
}
.homeTableStyle {
  
  display: inline-block;
  margin:1%;
  width: 60%;
  overflow-y: scroll;
  height:90%;
}
.homeFormStyle {
 
  display: inline-block;
  margin:1%;
  width: 30%;
  height:90%;
  overflow-y: scroll;
}
.footerStyle {
 
  background-color: #61dafb;
}
.resetButtonStyle {
  margin: '5px';
  padding: '3px';
  font-size: '25px';
  background-color: #61dafb;
}
.updateButtonStyle {
  margin: '5px';
  padding: '3px';
  font-size: '10px';
  background-color: darkblue;
  border-radius: '8px';
}
.submitButtonStyle {
  margin: '5px';
  padding: '3px';
  font-size: '25px';
  background-color: chocolate;
  border-radius: '8px';
}
.homeFormStyle label{
  font-size: 20px;
  color:blueviolet;
  margin-bottom: 30px;
}
.homeFormStyle input, .createQuery textarea, .createQuery select{
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  margin: 10px;
  box-sizing:border-box;
  display: block;
}
.homeFormStyle button{
  background-color: darkblue;
  color:darkolivegreen;
  border:0;
  padding:8px;
  border-radius: 8px;
  cursor:pointer;
}